<%= form_with(model: drug) do |form| %>
  <% if drug.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(drug.errors.count, "error") %> prohibited this drug from being saved:</h2>

      <ul>
        <% drug.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :drug_name %>
    <%= form.text_field :drug_name %>
  </div>

  <div class="field">
    <%= form.label :drug_price %>
    <%= form.text_field :drug_price %>
  </div>

  <div class="field">
    <%= form.label :date_created %>
    <%= form.date_select :date_created %>
  </div>

  <div class="field">
    <%= form.label :date_expire %>
    <%= form.date_select :date_expire %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
