<div class= form_containers>
  <%= form_with(model: drug) do |form| %>
    <% if drug.errors.any? %>
      <div id="error_explanation">
        <h2><%= pluralize(drug.errors.count, "error") %> prohibited this drug from being saved:</h2>

        <ul>
          <% drug.errors.each do |error| %>
            <li><%= error.full_message %></li>
          <% end %>
        </ul>
      </div>
    <% end %>
      <div class="field">
        <%= form.text_field :drug_name, placeholder: "Enter Drug Name",:class => 'txt_fld'  %>
      </div>

      <div class="field">
        <%= form.text_field :drug_price, placeholder: "Enter Drug Price" ,:class => 'txt_fld' %>
      </div>

      <div class="actions">
        <div class =buttons_container>
          <%= form.submit :class => 'button' %>
        </div>
        <div class =buttons_container>
          <%= link_to 'Back' , drugs_path ,:class => 'button'%>
        </div>
      </div>
    <% end %>
<div>
