<div class= form_containers>
  <%= form_with(model: drug) do |form| %>
      <div class="field">
        <%= form.text_field :drug_name, placeholder: "Enter Drug Name",:class => 'txt_fld'  %>
        <% if drug.errors.any? %>
            <% drug.errors.each do |error| %>
                <% if error.full_message == "Drug name can't be blank" %>
                    <p class= "err_msg"><%= "Drug name can't be blank"%></p>
                <% elsif error.full_message == "Drug name has already been taken" %>
                  <p class= "err_msg"><%= "Drug name has already been taken"%></p>
                <% end %>
            <% end %>
          <% end %>
      </div>

      <div class="field">

        <%= form.text_field :drug_price, placeholder: "Enter Drug Price" ,:class => 'txt_fld' %>
         <% if drug.errors.any? %>
            <% drug.errors.each do |error| %>
                <% if error.full_message == "Drug price can't be blank" %>
                    <p class= "err_msg"><%= "Drug price can't be blank"%></p>
                <% end %>
            <% end %>
          <% end %>
      </div>

      <div class="actions">
        <div class =buttons_container>
          <%= form.submit :class => 'button' %>
        </div>
        <div class =buttons_container>
          <%= link_to 'Back' , drugs_path ,:class => 'button'%>
        </div>
      </div>
    <% end %>
<div>
