<p id="notice"><%= notice %></p>

<h1 class=header>Drugs</h1>
<div class=table_containers>
  <table>
    <thead>
      <tr>
        <th>Drug name</th>
        <th>Drug price</th>
        <th>Date created</th>
        <th>Date expire</th>
        <th colspan="3">Actions</th>
      </tr>
    </thead>

    <tbody>
      <% @drugs.each do |drug| %>
        <tr>
          <td><%= drug.drug_name %></td>
          <td><%= drug.drug_price %></td>
          <td><%= drug.date_created %></td>
          <td><%= drug.date_expire %></td>
          <td><%= link_to 'Show', drug %></td>
          <td><%= link_to 'Edit', edit_drug_path(drug) %></td>
          <td><%= link_to 'Destroy', drug, method: :delete, data: { confirm: 'Are you sure?' } %></td>
        </tr>
      <% end %>
    </tbody>
  </table>
</div>
<br>
<div class =buttons_container>
  <%= link_to 'Add New Drug', new_drug_path , :class => 'button'%>
</div>
