<div class= form_containers>
  <%= form_with(model: [@doctor,prescription], local: true) do |form| %>    
    <h1><span>Doctor: </span><%= @doctor.doctor_name %></h1>
    <div class="field">
      <%= form.date_field :prescription_date, placeholder: "Enter Prescription Date" ,:class => 'txt_fld' %>
       <% if prescription.errors.any? %>
            <% prescription.errors.each do |error| %>
                <% if error.full_message == "Prescription date can't be blank" %>
                    <p class= "err_msg"><%= "Prescription date can't be blank"%></p>
                <% end %>
            <% end %>
          <% end %>
    </div>
    <div class="actions">
      <div class =buttons_container>
          <%= form.submit :class => 'button' %>
        </div>
        <div class =buttons_container>
          <%= link_to 'Back' , doctor_prescriptions_path(@doctor) ,:class => 'button'%>
        </div>
    </div>
  <% end %>
</div>
