<p id="notice"><%= notice %></p>

<h1>Prescriptions</h1>

<table>
  <thead>
    <tr>
      <th>Prescription date</th>
      <th>Doctor</th>
      <th>Total Prescription Drugs</th>
      <th>Total Price</th>
      <th>Prescription Drugs</th>
      <th colspan="3">Actions</th>
    </tr>
  </thead>

  <tbody>
    <% @prescriptions.each do |prescription| %>
      <tr>
        <td><%= prescription.prescription_date %></td>
        <td><%= prescription.doctor.doctor_name %></td>
        <td><%= prescription.prescription_drugs.count %></td>
         <td><%= prescription.prescription_drugs.joins(:drug).sum(:drug_price) %></td>
        <td><%= link_to 'Prescription Drugs', doctor_prescription_prescription_drugs_path(@doctor,prescription) %></td>
        <td><%= link_to 'Show Doctor', [@doctor] %></td>
        <td><%= link_to 'Edit', edit_doctor_prescription_path(@doctor, prescription) %></td>
        <td><%= link_to 'Destroy Prescription', [@doctor, prescription], method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Prescription', new_doctor_prescription_path(@doctor) %>
