<h1 class= header>Prescriptions Home Page</h1>


<h1 class= header><%= @doctor.doctor_name%></h1>


<div class="table_container">
    <table>
        <thead>
            <tr>
                <th>Prescription Date</th>
                <th>Doctors Name</th>
                <th>Action</th>

            </tr>
        </thead>

        <tbody>
        <% @prescriptions.each do |prescription| %>
            <tr>
                <td><%= prescription.prescription_date %></td>
                <td><%= prescription.doctor_id %></td>
                <td><%= link_to 'Delete', doctor_prescription_path(@doctor.id, prescription), method: :delete, data: {confirm: 'Are you sure?'}, :class => 'link' %></td>
            </tr>
        <% end %>
        </tbody>
    </table>
</div>

 <div class="create-container">
        <%= link_to 'Create new', new_doctor_prescription_path , :class => 'button'%>
</div>

