<div class= form_containers>
  <%= form_with(model: [@doctor,@prescription,prescription_drug], local: true) do |form| %>
    <div class= info>
      <h1><span>Prescription ID: </span><%= @prescription_drug.prescription_id %></h1>
      <h1><span>Doctor: </span><%= @doctor.doctor_name %></h1>
    </div>
    <div class="field">
      <%= form.select :drug_id,Drug.all.pluck(:drug_name,:id),{prompt:'Select Drugs'},{class: "txt_fld"}%>
       <% if prescription_drug.errors.any? %>
            <% prescription_drug.errors.each do |error| %>
                <% if error.full_message == "Drug must exist" %>
                    <p class= "err_msg"><%= "Drug can't be blank"%></p>
                <% end %>
            <% end %>
          <% end %>
    </div>

    <div class="field">
      <%= form.number_field :quantity, placeholder: "Enter Quantity" ,:class => 'txt_fld' %>
      <% if prescription_drug.errors.any? %>
            <% prescription_drug.errors.each do |error| %>
                <% if error.full_message == "Quantity can't be blank" %>
                    <p class= "err_msg"><%= "Quantity can't be blank"%></p>
                <% end %>
            <% end %>
          <% end %>
    </div>
    <div class="field">
      <%= form.number_field :discount, placeholder: "Enter Discount Percentage" ,:class => 'txt_fld' %>
      <% if prescription_drug.errors.any? %>
            <% prescription_drug.errors.each do |error| %>
                <% if error.full_message == "Discount can't be blank" %>
                    <p class= "err_msg"><%= "Discount can't be blank"%></p>
                <% end %>
            <% end %>
          <% end %>
    </div>
    
    <div class="field">
      <%= form.text_area :note, size: "70x5" , placeholder: "Enter Note" ,:class => 'txt_fld' %>
      <% if prescription_drug.errors.any? %>
            <% prescription_drug.errors.each do |error| %>
                <% if error.full_message == "Note can't be blank" %>
                    <p class= "err_msg"><%= "Note can't be blank"%></p>
                <% end %>
            <% end %>
          <% end %>
    </div>

    <div class="actions">
      <div class =buttons_container>
          <%= form.submit :class => 'button' %>
        </div>
        <div class =buttons_container>
          <%= link_to 'Back' , doctor_prescription_prescription_drugs_path(@doctor,@prescription) ,:class => 'button'%>
        </div>
    </div>
  <% end %>
</div>
