<%= form_with(model: [@doctor,@prescription,prescription_drug], local: true) do |form| %>
  <% if prescription_drug.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(prescription_drug.errors.count, "error") %> prohibited this prescription_drug from being saved:</h2>

      <ul>
        <% prescription_drug.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :prescription_id %>
    <%= form.text_field :prescription_id %>
  </div>

  <div class="field">
    <%= form.label :drug_id %>
    <%= form.text_field :drug_id %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
