<div class= form_containers>
  <%= form_with(model: [@doctor,@prescription,prescription_drug], local: true) do |form| %>
    <% if prescription_drug.errors.any? %>
      <div id="error_explanation">
        <h2><%= pluralize(prescription_drug.errors.count, "error") %> prohibited this prescription_drug from being saved:</h2>

        <ul>
          <% prescription_drug.errors.each do |error| %>
            <li><%= error.full_message %></li>
          <% end %>
        </ul>
      </div>
    <% end %>
    <div class= info>
      <h1><span>Prescription ID: </span><%= @prescription_drug.prescription_id %></h1>
      <h1><span>Doctor: </span><%= @doctor.doctor_name %></h1>
    </div>
    <div class="field">
    <%= form.select :drug_id,Drug.all.pluck(:drug_name,:id),{prompt:'Select Drugs'},{class: "txt_fld"}%>
    </div>

    <div class="field">
      <%= form.text_field :quantity, placeholder: "Enter Quantity" ,:class => 'txt_fld' %>
    </div>


    <div class="actions">
      <div class =buttons_container>
          <%= form.submit :class => 'button' %>
        </div>
        <div class =buttons_container>
          <%= link_to 'Back' , doctor_prescription_prescription_drugs_path(@doctor,@prescription) ,:class => 'button'%>
        </div>
    </div>
  <% end %>
</div>
