<h1 class= header>Prescription_Drugs</h1>

<h1 class= header><%= @prescription.prescription_date%></h1>


<div class="table_container">
    <table>
        <thead>
            <tr>
                <th>Prescription ID</th>
                <th>Drug ID</th>
                <th>Action</th>
            </tr>
        </thead>

        <tbody>
        <% @prescription_drugs.each do |prescription_drug| %>
            <tr>
                <td><%= prescription_drug.prescription_id%></td>
                <td><%= prescription_drug.drug_id%></td>
                <%# <td><%= link_to 'Delete', doctor_prescription_path(@doctor.id, prescription), method: :delete, data: {confirm: 'Are you sure?'}, :class => 'link' %>
            </tr>
        <% end %>
        </tbody>
    </table>
</div>

 <div class="create-container">
        <%= link_to 'Create new', new_doctor_prescription_path , :class => 'button'%>
</div>


