<p id="notice"><%= notice %></p>

<h1>Prescription Drugs</h1>

<table>
  <thead>
    <tr>
      <th>Prescription</th>
      <th>Drug</th>
      <th>Prescription Date</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @prescription_drugs.each do |prescription_drug| %>
      <tr>
        <td><%= prescription_drug.prescription_id %></td>
        <td><%= prescription_drug.drug_id %></td>
        <td><%= prescription_drug.prescription.prescription_date %></td>
        <%# <td><%= link_to 'Show Prescription',[@prescription]  %></td> %>
        <%# <td><%= link_to 'Edit Prescription_Drug', edit_doctor_prescription_prescription_drug_path(@prescription, post) %></td> %>
        <%# <td><%= link_to 'Destroy Prescription_Drug', [@prescription, prescription_drug], method: :delete, data: { confirm: 'Are you sure?' } %></td> %>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Prescription Drug', new_doctor_prescription_prescription_drug_path([@doctor,@prescription]) %>
