<div class= form_containers>
  <%= form_with(model: doctor) do |form| %>

    <div class="field">
      <%= form.text_field :doctor_name , placeholder: "Enter Doctor Name",:class => 'txt_fld'%>
          <% if doctor.errors.any? %>
            <% doctor.errors.each do |error| %>
                <% if error.full_message == "Doctor name can't be blank" %>
                    <p class= "err_msg"><%= "Doctor name can't be blank"%></p>
                <% end %>
            <% end %>
          <% end %>
    </div>

    <div class="field">
      <%= form.number_field :doctor_num , placeholder: "Enter Doctor Number",:class => 'txt_fld'%>
      <% if doctor.errors.any? %>
            <% doctor.errors.each do |error| %>
                <% if error.full_message == "Doctor num can't be blank" %>
                    <p class= "err_msg"><%= "Doctor number can't be blank"%></p>
                <% else %>
                  <p class= "err_msg"><%= "Invalid Number!(number must be 11 digits)"%></p>
                <% end %>
            <% end %>
      <% end %>
    </div>

    <div class="actions">
       <div class =buttons_container>
          <%= form.submit :class => 'button' %>
        </div>
        <div class =buttons_container>
          <%= link_to 'Back' , doctors_path ,:class => 'button'%>
        </div>
    </div>
  <% end %>
</div>
