<p id="notice"><%= notice %></p>
<h1 class=header>Doctor Prescriptions</h1>
<i class="fa-duotone fa-prescription"></i>
<div class=table_containers>
  <table>
    <thead>
      <tr>
        <th>Doctors name</th>
        <th>Phone Number</th>
        <th>Total Prescriptions</th>
        <th>Prescriptions</th>
        <th colspan="3">Actions</th>
      </tr>
    </thead>

      <tbody>
        <% @doctors.each do |doctor| %>
          <tr>
            <td><%= doctor.doctor_name %></td>
            <td><%= doctor.doctor_num %></td>
            <td><%= doctor.prescriptions.count %></td>
            <td><%= link_to 'Prescriptions', doctor_prescriptions_path(doctor) %></td>
            <td><%= link_to doctor do %>
              <i class="fa-solid fa-eye"></i>
            <% end %></td>
            <td><%= link_to edit_doctor_path(doctor) do %>
              <i class="fas fa-pen"></i>
            <% end %></td>
            <td><%= link_to  doctor, method: :delete, data: { confirm: 'Are you sure?' } do %>
              <i class="fa-solid fa-trash-can"></i>
            <% end %></td>
          </tr>
        <% end %>
      </tbody>
    </table>
  </div>
  <%if @doctors.blank?%>
    <div class =no_record>
            <p><%= "No data available"%></p>
    <div>
  <%end%>
<br>

<div class =buttons_container>
  <%= link_to 'Add New Doctor', new_doctor_path , :class => 'button'%>
</div>