<p id="notice"><%= notice %></p>
<div class="menu-container">
  <%= button_tag '☰', id: 'button-click', type: 'button' ,class: "menu-bar"%>
</div>
<h1 class=header>Doctors</h1>

<div class=table_containers>
  <table>
    <thead>
      <tr>
        <th>Doctors name</th>
        <th>Phone Number</th>
        <th>Total Prescriptions</th>
        <th>Prescriptions</th>
        <th colspan="3">Actions</th>
      </tr>
    </thead>

      <tbody>
        <% @doctors.each do |doctor| %>
          <tr>
            <td><%= doctor.doctor_name %></td>
            <td><%= doctor.doctor_num %></td>
            <td><%= doctor.prescriptions.count %></td>
            <td><%= link_to 'Prescriptions', doctor_prescriptions_path(doctor) %></td>
            <td><%= link_to 'Show', doctor %></td>
            <td><%= link_to 'Edit', edit_doctor_path(doctor) %></td>
            <td><%= link_to 'Delete', doctor, method: :delete, data: { confirm: 'Are you sure?' } %></td>
          </tr>
        <% end %>
      </tbody>
    </table>
  </div>
<br>

<div class =buttons_container>
  <%= link_to 'Add New Doctor', new_doctor_path , :class => 'button'%>
</div>