<p id="notice"><%= notice %></p>

<p>
  <strong>Doctor name:</strong>
  <%= @doctor.doctor_name %>
</p>

<p>
  <strong>Doctor num:</strong>
  <%= @doctor.doctor_num %>
</p>

<%= link_to 'Edit', edit_doctor_path(@doctor) %> |
<%= link_to 'Back', doctors_path %>
