<p id="notice"><%= notice %></p>
<% content_for :sidebar do %>
this will show up in the sidebar div
<% end %>
<p>
  <strong>Doctors name:</strong>
  <%= @doctor.doctor_name %>
</p>

<p>
  <strong>Phone Number:</strong>
  <%= @doctor.doctor_num %>
</p>

<%= link_to 'Edit', edit_doctor_path(@doctor) %> |
<%= link_to 'Back', doctors_path %>
int(11)