<p id="notice"><%= notice %></p>
<% content_for :sidebar do %>
this will show up in the sidebar div
<% end %>
<p>
  <strong>Doctors name:</strong>
  <%= @doctor.doctor_name %>
</p>

<p>
  <strong>Phone Number:</strong>
  <%= @doctor.doctor_num %>
</p>

<h2>Prescription</h2>
<% for prescription in @doctor.prescriptions%>
    <ul>
      <li><%= prescription.prescription_date %></li>
    </ul>
<%end%>

<%= link_to 'Edit', edit_doctor_path(@doctor) %> 
<%= link_to 'Add Prescription', doctor_prescriptions_path(@doctor) %>
<%= link_to 'Back', doctors_path %>
