<!DOCTYPE html>
<html>
  <head>
    <title>DoctorPrescriptionTracker</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'nav', 'data-turbolinks-track': 'reload'  %>
  </head>

  <body>
  <div class="menu-container">
    <%= button_tag '☰', id: 'button-click', type: 'button' ,class: "menu-bar"%>
  </div>
  <div class= nav_container id=nav_container>
    <ul>
      <li><%= button_tag '☰', id: 'button-click1', type: 'button',class: "menu-bar1"%>
      <li class="link_hover"><i class="fas fa-user"></i><%= link_to 'Doctor Prescriptions', doctors_path, :class => 'link' %></li>
      <li class="link_hover"><i class="fa-solid fa-pills"></i><%= link_to 'Drugs', drugs_path, :class => 'link' %></li>
    </ul>
  </div>
  <div class= container>
    <%= yield %>
  </div>
  </body>
</html>
